<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" formControlName="title">
    </div>

    <select class="form-select" aria-label="Default select example" formControlName="completed">
      <option [ngValue]="true">Completed</option>
      <option [ngValue]="false">Not Completed</option>
    </select>

    <button type="submit" class="btn btn-success">Add</button>
  </form>

  <div class="cards">
    <div class="card" *ngFor="let todo of todos;">
      <div class="card-body">
        {{ todo.title | titlecase}}

        <div class="card-body__info">
          <div class="alert alert-success" role="alert" *ngIf="todo.completed">
            Completed
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="!todo.completed">
            Not completed
          </div>

          <div class="card-body__buttons">
            <button class="alert alert-warning" role="alert" (click)="onDelete(todo.id)">Delete post</button>
            <button class="alert alert-success" role="alert" (click)="onComplete(todo.id)">Complete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
