<div class="card">
  <h2>{{ title }}</h2>
  <h4>{{ subtitle }}</h4>
  <p>{{ cardText }}</p>
  <input type="text" [(ngModel)]="cardText">
  <button
    style="display: block; margin-top: 10px;"
    (click)="toggleColor = !toggleColor">
    Toggle color
  </button>
  <button
    style="display: block; margin-top: 10px;"
    (click)="toggleColor = 2132132">
    Toggle type
  </button>
  <div [ngSwitch]="toggleColor">
    <div *ngSwitchCase="true" class="card__box card__box_red"></div>
    <div *ngSwitchCase="false" class="card__box card__box_blue"></div>
    <div *ngSwitchDefault class="card__box"></div>
  </div>
</div>
