.card {
  border: 2px solid black;
  border-radius: 15px;
  padding: 0 15px;
  width: 300px;
  margin: 10px;
  padding-bottom: 10px;
  &__box {
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    &_red {
      background-color: red;
    }
    &_blue {
      background-color: blue;
    }
  }
}
