<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"
           [routerLink]="['/']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
        <a class="nav-link"
           [routerLink]="['/directives']"
           routerLinkActive="active">
          Directives
        </a>
        <a class="nav-link"
           [routerLink]="['/pipes']"
           routerLinkActive="active">
          Pipes
        </a>
        <a class="nav-link"
           [routerLink]="['/services']"
           routerLinkActive="active">
          Services
        </a>
        <a class="nav-link"
           [routerLink]="['/forms']"
           routerLinkActive="active">
          Forms
        </a>
        <a class="nav-link"
           [routerLink]="['/rxjs']"
           routerLinkActive="active">
          RxJS
        </a>
        <a class="nav-link"
           [routerLink]="['/http-client']"
           routerLinkActive="active">
          HttpClient
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<ng-http-loader [spinner]="spinnerStyle.skThreeBounce" [backgroundColor]="'#75B8FF'"></ng-http-loader>
